<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:分类管理 -->
<mapper namespace="cn.acyou.scorpio.system.mapper.StudentMapper">

    <!-- 使用resultMap时，如果属性不对应会报错。使用resultType时，多一个少一个都不会报错 -->
    <resultMap id="BaseResultMap" type="cn.acyou.scorpio.system.entity.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age
    </sql>

    <update id="incrementAge">
        update student set age = age + #{delta} where id = #{id}
    </update>


</mapper>