<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:分类管理 -->
<mapper namespace="cn.acyou.scorpio.system.mapper.StudentMapper">

    <!-- 使用resultMap时，如果属性不对应会报错。使用resultType时，多一个少一个都不会报错 -->
    <resultMap id="BaseResultMap" type="cn.acyou.scorpio.system.entity.Student">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, age
    </sql>

    <update id="incrementAge">
        update student set age = age + #{delta} where id = #{id}
    </update>

<!--
    <select id="staticTest" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from student where
        <include refid="cn.acyou.scorpio.base.BaseMapper.data_scope_sql"/>
    </select>-->

    <!-- 方法必须为静态方法，使用的是OGNL表达式，表达式格式为：${@prefix@methodName(传递参数名称)} -->
    <select id="staticTest" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from student where
            name = '${@cn.acyou.framework.utils.DateUtil@getCurrentDateFormat(name)}'
            --Preparing: select * from student where name='2020-08-05 40'
    </select>

    <select id="selectAgeSameStudent" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from student where id = 1
    </select>

    <select id="testSelectListCanBeNull" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from  student where age = 10000
    </select>
    <select id="testSelectEntityCanBeNull" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from  student where age = 10000
    </select>
    <select id="getStudentsByAge" resultType="cn.acyou.scorpio.system.entity.Student">
        select * from  student
        <where>
            <if test="age!=null">
                and age = #{age}
            </if>
        </where>
    </select>

</mapper>
