<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.acyou.scorpio.mapper.task.mapper.ScheduleJobLogMapper">

    <resultMap id="Base_Result_Map" type="cn.acyou.scorpio.mapper.task.entity.ScheduleJobLog">
        <result column="log_id" jdbcType="BIGINT" property="logId"/>
        <result column="job_id" jdbcType="BIGINT" property="jobId"/>
        <result column="bean_name" jdbcType="VARCHAR" property="beanName"/>
        <result column="params" jdbcType="VARCHAR" property="params"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="error" jdbcType="VARCHAR" property="error"/>
        <result column="times" jdbcType="INTEGER" property="times"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id, job_id, bean_name, params, status, error, times, create_time, remark
    </sql>

    <sql id="Alisa_Column_List">
        t.log_id, t.job_id, t.bean_name, t.params, t.status, t.error, t.times, t.create_time, t.remark
    </sql>



</mapper>